/* home style  */
.home {
  position: relative;
  font-family: sans-serif;
}
.logo {
  color: white;
  background-color: red;
  padding: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: red;
  width: 220px;
  height: 100px;
  padding: 20px;
  position: relative;
  left: 0;
  border-radius: 10px;
}

a:hover {
  background-color: blue;
  transition: 0.6s;
  font-weight: bold;
}

/*sales style */
.container {
  box-sizing: border-box;
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: blue;
  color: white;
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
}
/*
h1 {
  background-color: greenyellow;
  margin: 0;
  padding: 20px;
}

ul {
  background-color: grey;
  margin: 0;
  padding: 8px 30px;
  color: #030a0d;
  font-weight: bold;
}

p {
  color: white;
  font-weight: bold;
  font-size: 17px;
  background-color: red;
  padding: 20px;
  margin: 0;
  text-align: center;
} */
th {
  padding: 8px;
  width: 20px;
  height: 20px;
  color: red;
  border: 0;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 20px;
  height: 20px;
  text-align: center;
}

tr:first-child {
  background-color: white;
  border: 0;
}

tr:nth-child(2) {
  background-color: chartreuse;
  border: 0;
}

tr {
  background-color: cornflowerblue;
}
